.Soldiv{

}

 
.Orta{
display: flex;
gap: 20px;
}

.Sagdiv{
    display: flex;
    gap: 20px;
    align-items: center;
}
.Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
   
}
.button{
    padding: 10px;

  border-radius: 999px;
  border: 1px solid blue;
  
}
.button:hover{
    color: white;
    background-color: blue;
    transition:2s all;
}